.main {
    display: flex;
    flex-direction: column;
}

.content__container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 50px;
}

.main__radio {
    display: flex;
    width: 100%;
}

.main__tab {
    flex: 1;
    padding: 18px 0;
    text-align: center;
    border: 1px solid var(--color-tab-border);
    background-color: var(--color-block-bg);
    color: var(--color-text-primary);
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__tab:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.main__tab:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.tab__input {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.main__tab:has(.tab__input:checked) {
    background-color: var(--color-active-bg);
    color: var(--color-text-contrast);
}

.main__flights {
    display: flex;
    flex-direction: column;
    gap: 47px;
    margin-top: 29px;
}

.main__button {
    margin-top: 74px;
    padding: 17px 0 ;
    border-radius: 10px;
    background-color: var(--color-button-bg);
    color: var(--color-text-contrast);
    font-size: 24px;
    font-weight: 700;
}

.main__loader {
    width: 15px;
    height: 15px;
    align-self: center;
    border-radius: 50%;
    border: 2px solid #493c83;
    background-color: transparent;
    margin-top: 40px;
}

.main__button_hidden {
    display: none;
}

@media (max-width: 768px) {
    .content__container {
        grid-template-columns: 1fr;
    }
}